<div class="container">
  <ul>
    <li>
      {{#each workout}}
      <div class="row">
        <div class="col s12 m6">
          <div class="card transparent">
            <div class="card-content indigo-text">
              <span class="card-title"><a href="/workouts/{{id}}"> {{name}} </a></span>
              <p>{{type}}</p>
              <button type="submit" data-id="{{id}}"
                class="btn-floating waves-effect waves-light indigo right"><a
                href="/workouts/edit/{{id}}">
                <i class="material-icons">edit</i></a>
              </button>
              <button type="submit" data-id="{{id}}"
                class="btn-floating waves-effect waves-light indigo right deletebtn">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </li>
  </ul>
</div>